body{
  margin: 0;
  min-width: 100vh;
  overflow: hidden;

  display: grid;
  overflow: hidden;
}

canvas{
  display: block ;
}

#nextBtn {
  display: none;
  position: fixed;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  padding: 15px 40px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}