body{
  margin: 0;
  min-width: 100vh;
  overflow: hidden;

  display: grid;
  overflow: hidden;
}

canvas{
  display: block ;
}

#nextBtn{
  display: none;
  position: fixed;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  padding: 15px 40px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#musicBtn{
  height: 40px;
  width: 120px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #FFD54F;
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

.game-buttons{
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.game-buttons button{
  width: 55px;
  height: 55px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.game-buttons img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game-buttons button:hover{
  transform: scale(1.05);
}

.game-buttons button:active{
  transform: scale(0.95);
}