body{
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/images/instructionsBg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.instructions-container{
  width: 600px;
  padding: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  border: 3px solid white;
  border-radius: 15px;
}

.instructions-header{
  margin-bottom: 20px;
}
.subtitle{
  margin: 0;
  font-size: 14px;
}
h1{
  margin: 5px 0 10px;
  font-size: 40px;
  text-shadow: 3px 3px 0 black;
}
.header-text{
  margin: 0;
  font-size: 16px;
}
.instruction-section{
  margin-bottom: 20px;
  text-align: left;
}

h2{
  margin: 0 0 12px;
  font-size: 23px;
  text-align: center;
}

p{
  margin: 8px 0;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
.instructions-footer{
  margin-top: 15px;
  text-align: center;
}
.instructions-footer p{
  margin-bottom: 8px;
  font-size: 14px;
}

button{
  height: 50px;
  width: 140px;
  border: 3px solid #FF9800;
  border-radius: 15px;
  background-color: #FFD54F;
  color: white;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 1px #FF9800;
  cursor: pointer;
}
button:hover{
  transform: scale(1.05);
}